Services/Sales/Service References/DataSvc/DataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://fastapps04.qut.edu.au/n5499879/Services/Data/DataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://fastapps04.qut.edu.au/n5499879/Services/Data/DataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://fastapps04.qut.edu.au/n5499879/Services/Data/DataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataService_GetCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomers" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomer" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetQuotes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuotes" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetQuotes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuotesResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetQuote_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuote" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetQuote_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_AddNewQuote_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewQuote" />
  </wsdl:message>
  <wsdl:message name="IDataService_AddNewQuote_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_ModifyQuote_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyQuote" />
  </wsdl:message>
  <wsdl:message name="IDataService_ModifyQuote_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItems" />
  </wsdl:message>
  <wsdl:message name="IDataService_GetItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IDataService_HelloWorld_InputMessage">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="IDataService_HelloWorld_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataService">
    <wsdl:operation name="GetCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetCustomers" message="tns:IDataService_GetCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetCustomersResponse" message="tns:IDataService_GetCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetCustomer" message="tns:IDataService_GetCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetCustomerResponse" message="tns:IDataService_GetCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuotes">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetQuotes" message="tns:IDataService_GetQuotes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetQuotesResponse" message="tns:IDataService_GetQuotes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuote">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetQuote" message="tns:IDataService_GetQuote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetQuoteResponse" message="tns:IDataService_GetQuote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewQuote">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/AddNewQuote" message="tns:IDataService_AddNewQuote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/AddNewQuoteResponse" message="tns:IDataService_AddNewQuote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyQuote">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/ModifyQuote" message="tns:IDataService_ModifyQuote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/ModifyQuoteResponse" message="tns:IDataService_ModifyQuote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/GetItems" message="tns:IDataService_GetItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/GetItemsResponse" message="tns:IDataService_GetItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataService/HelloWorld" message="tns:IDataService_HelloWorld_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataService/HelloWorldResponse" message="tns:IDataService_HelloWorld_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataService" type="tns:IDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustomers">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuotes">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetQuotes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuote">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewQuote">
      <soap:operation soapAction="http://tempuri.org/IDataService/AddNewQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyQuote">
      <soap:operation soapAction="http://tempuri.org/IDataService/ModifyQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <soap:operation soapAction="http://tempuri.org/IDataService/GetItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/IDataService/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataService">
    <wsdl:port name="BasicHttpBinding_IDataService" binding="tns:BasicHttpBinding_IDataService">
      <soap:address location="http://fastapps04.qut.edu.au/n5499879/Services/Data/DataService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>