Client/WebClient/Service References/SalesSvc/SalesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SalesService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://fastapps04.qut.edu.au/n5499879/Services/Sales/SalesService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://fastapps04.qut.edu.au/n5499879/Services/Sales/SalesService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://fastapps04.qut.edu.au/n5499879/Services/Sales/SalesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISalesService_GetCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomers" />
  </wsdl:message>
  <wsdl:message name="ISalesService_GetCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesService_GetCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomer" />
  </wsdl:message>
  <wsdl:message name="ISalesService_GetCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesService_GetQuotes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuotes" />
  </wsdl:message>
  <wsdl:message name="ISalesService_GetQuotes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuotesResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesService_GetQuote_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuote" />
  </wsdl:message>
  <wsdl:message name="ISalesService_GetQuote_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesService_AddNewQuote_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewQuote" />
  </wsdl:message>
  <wsdl:message name="ISalesService_AddNewQuote_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesService_ModifyQuote_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyQuote" />
  </wsdl:message>
  <wsdl:message name="ISalesService_ModifyQuote_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesService_GetItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItems" />
  </wsdl:message>
  <wsdl:message name="ISalesService_GetItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesService_ApproveQuote_InputMessage">
    <wsdl:part name="parameters" element="tns:ApproveQuote" />
  </wsdl:message>
  <wsdl:message name="ISalesService_ApproveQuote_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApproveQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesService_RejectQuote_InputMessage">
    <wsdl:part name="parameters" element="tns:RejectQuote" />
  </wsdl:message>
  <wsdl:message name="ISalesService_RejectQuote_OutputMessage">
    <wsdl:part name="parameters" element="tns:RejectQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesService_GetPartETA_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPartETA" />
  </wsdl:message>
  <wsdl:message name="ISalesService_GetPartETA_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPartETAResponse" />
  </wsdl:message>
  <wsdl:message name="ISalesService_CheckItemsStockLevel_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckItemsStockLevel" />
  </wsdl:message>
  <wsdl:message name="ISalesService_CheckItemsStockLevel_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckItemsStockLevelResponse" />
  </wsdl:message>
  <wsdl:portType name="ISalesService">
    <wsdl:operation name="GetCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesService/GetCustomers" message="tns:ISalesService_GetCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesService/GetCustomersResponse" message="tns:ISalesService_GetCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesService/GetCustomer" message="tns:ISalesService_GetCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesService/GetCustomerResponse" message="tns:ISalesService_GetCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuotes">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesService/GetQuotes" message="tns:ISalesService_GetQuotes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesService/GetQuotesResponse" message="tns:ISalesService_GetQuotes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuote">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesService/GetQuote" message="tns:ISalesService_GetQuote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesService/GetQuoteResponse" message="tns:ISalesService_GetQuote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewQuote">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesService/AddNewQuote" message="tns:ISalesService_AddNewQuote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesService/AddNewQuoteResponse" message="tns:ISalesService_AddNewQuote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyQuote">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesService/ModifyQuote" message="tns:ISalesService_ModifyQuote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesService/ModifyQuoteResponse" message="tns:ISalesService_ModifyQuote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesService/GetItems" message="tns:ISalesService_GetItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesService/GetItemsResponse" message="tns:ISalesService_GetItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ApproveQuote">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesService/ApproveQuote" message="tns:ISalesService_ApproveQuote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesService/ApproveQuoteResponse" message="tns:ISalesService_ApproveQuote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RejectQuote">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesService/RejectQuote" message="tns:ISalesService_RejectQuote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesService/RejectQuoteResponse" message="tns:ISalesService_RejectQuote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPartETA">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesService/GetPartETA" message="tns:ISalesService_GetPartETA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesService/GetPartETAResponse" message="tns:ISalesService_GetPartETA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckItemsStockLevel">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalesService/CheckItemsStockLevel" message="tns:ISalesService_CheckItemsStockLevel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalesService/CheckItemsStockLevelResponse" message="tns:ISalesService_CheckItemsStockLevel_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISalesService" type="tns:ISalesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustomers">
      <soap:operation soapAction="http://tempuri.org/ISalesService/GetCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <soap:operation soapAction="http://tempuri.org/ISalesService/GetCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuotes">
      <soap:operation soapAction="http://tempuri.org/ISalesService/GetQuotes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuote">
      <soap:operation soapAction="http://tempuri.org/ISalesService/GetQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewQuote">
      <soap:operation soapAction="http://tempuri.org/ISalesService/AddNewQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyQuote">
      <soap:operation soapAction="http://tempuri.org/ISalesService/ModifyQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <soap:operation soapAction="http://tempuri.org/ISalesService/GetItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApproveQuote">
      <soap:operation soapAction="http://tempuri.org/ISalesService/ApproveQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RejectQuote">
      <soap:operation soapAction="http://tempuri.org/ISalesService/RejectQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartETA">
      <soap:operation soapAction="http://tempuri.org/ISalesService/GetPartETA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckItemsStockLevel">
      <soap:operation soapAction="http://tempuri.org/ISalesService/CheckItemsStockLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SalesService">
    <wsdl:port name="BasicHttpBinding_ISalesService" binding="tns:BasicHttpBinding_ISalesService">
      <soap:address location="http://fastapps04.qut.edu.au/n5499879/Services/Sales/SalesService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>